﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width">

    <title>@(ViewBag.Title ?? "Snapper Game Solutions")</title>

    @* TODO: Load from CDN *@
    <link rel="stylesheet" href="/Content/bootstrap.min.css">
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
      .sidebar-nav {
        padding: 9px 0;
      }
    </style>
    <link rel="stylesheet" href="/Content/bootstrap-responsive.min.css">
    
    <style type="text/css">
        .container-fluid
        {
            min-width: 480px;   
        }
    </style>

    <script src="@Url.Content("~/Scripts/modernizr-1.7.min.js")" type="text/javascript"></script>    
</head>
<body>

        @Html.Partial("_Topbar")
        <div class="container-fluid">
            @RenderBody()

            <hr />
            <footer class="footer">
                <p>Built by Team Biblical Legends (<a href="http://jacob4u2.posterous.com" title="Jacob Gable">Jacob</a>, <a href="http://blogs.claritycon.com/blog/author/djohnson/" title="David Johnson">David</a>, <a href="http://blogs.claritycon.com" title="Matthew Seman">Matthew</a>) for the <a href="http://blogs.claritycon.com" title="Clarity Consulting Blogs">Clarity Consulting</a> 2012 Tech Challenge</p>
                <p>Built with C#, <a href="http://asp.net/mvc" title=".Net MVC 3">Asp.Net MVC</a>, <a href="http://twitter.github.com/bootstrap">Twitter Bootstrap</a>, <a href="http://appharbor.com" title=".Net Platform as a Service">AppHarbor</a> and <a href="http://mailgun.net">Mailgun</a>.  Source available on <a href="https://bitbucket.org/jacob4u2/techchallenge2012">BitBucket</a> via <a href="https://bitbucket.org/jacob4u2/techchallenge2012.git">git</a>.</p>
            </footer>
        </div>        

        <script>
            var _gaq = [['_setAccount', 'UA-28956141-1'], ['_trackPageview']];
            (function (d, t) {
                var g = d.createElement(t), s = d.getElementsByTagName(t)[0]; g.async = 1;
                g.src = ('https:' == location.protocol ? '//ssl' : '//www') + '.google-analytics.com/ga.js';
                s.parentNode.insertBefore(g, s)
            } (document, 'script'));
        </script> 
</body>
</html>
