﻿<div class="navbar navbar-fixed-top" style="min-width: 480px" >
    <div class="navbar-inner">
        <div class="container-fluid">
            <a class="brand" href="/">Snapper Solver</a>
            <div class="nav-collapse">
            <ul class="nav">
                <li @if (ViewBag.NavActive == "Home")
                    {<text>class="active"</text>}>@Html.ActionLink("Home", "Index", "Home")</li>
            </ul>
            </div>
        </div>
    </div>
</div>