﻿@{
    ViewBag.Title = "Snapper Game Solutions";
    ViewBag.NavActive = "Home";
}

<div class="hero-unit">
    <h1>Snappers Game Solutions</h1>
    
    <ul style="margin-top: 2em">
        <li><h3>Get <a href="http://itunes.apple.com/us/app/snappers-hd/id486843920?mt=8" title="Snappers HD for IPad">Snappers</a> from the App Store</h3></li>
        <li><h3><a href="http://www.techtosh.com/ipad/capture-a-screen-shot-on-ipad/" title="How to take a screen capture on an IPad">Snap a pic</a> of a Snappers level</h3></li>
        <li><h3>Email it to us at the <a href="mailto:solutions@snapperssolver.mailgun.org" title="Snappers Solver Email">Snappers Solver Email Address</a></h3></li>
        <li><h3>We'll send back an answer immediately.</h3></li>
    </ul>
    <p style="margin-top: 2em"><a class="btn btn-primary btn-large" href="mailto:solutions@snapperssolver.mailgun.org">Mail Us A Board</a></p>     
</div>
